body {
  background-color: rgb(50, 57, 65);
}

.foto-marian {
  cursor: pointer;
  float: left;


}

.foto-mati {
  cursor: pointer;
  float: right;

}


h1 {
  color: rgb(196, 195, 146);
  text-align: center;
  font-size: 75px;
  font-family: monospace;
  float: auto;
  border-color: red;
  margin: 0;
  padding: 0;


}

.iniciodepagina {
  display: flex;
  align-items: center;
  gap: 17%;
}

.mes {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);

}

.mes .popup-mes {
  background: #111;
  height: 200px;
  width: 350px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mes .text {
  text-align: center;
  color: red;
  margin-top: 3%;
}